<header>
    <div class="site-header">
      <div class="wrapper">
        <a class="site-title" href="{{ site.baseurl }}/">{{ site.title | default: site.github.repository_name }}</a>
  
        <nav class="site-nav">
          <input type="checkbox" id="nav-trigger" class="nav-trigger" />
          <label for="nav-trigger">
            <span class="menu-icon">
              <svg viewBox="0 0 18 15" width="18px" height="15px">
                <path d="M1,1 L17,1"></path>
                <path d="M1,7 L17,7"></path>
                <path d="M1,14 L17,14"></path>
              </svg>
            </span>
          </label>
  
          <div class="trigger">
            <ul class="page-list">
              <li><a href="{{ site.baseurl }}/">Home</a></li>
              <li><a href="{{ site.baseurl }}/resume.pdf">Resume</a></li>
              <li><a href="{{ site.baseurl }}/blog/">Blog</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </header>
  